li
  a.dropdown-item(href='/installing-npm', data-event-category='Dropdown link', data-event-action='Installation instructions', data-event-label='Alerts')
    i.eos-icons.md-18
      | library_books
    | Installation instructions
li
  a.dropdown-item(href='https://xd.adobe.com/spec/494cee58-6537-41c0-7585-9c69efc0ced1-3f7d/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Alerts', target='_blank')
    i.eos-icons.md-18
      | open_in_new
    | Design specifications
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Components/Alerts/alerts.xd', data-event-category='Dropdown link', data-event-action='XD file', data-event-label='Alerts', target='_blank')
    i.eos-icons.md-18
      | file_download
    | Adobe XD file
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Components/Alerts/alerts.svg', data-event-category='Dropdown link', data-event-action='SVG Download link', data-event-label='Alerts', target='_blank')
    i.eos-icons.md-18
      | file_download
    | SVG file
