/**
* Colors and borders
*
* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss
* Shadows variables: /assets/stylesheets/eos-base/variables/shadows.scss
*/

$eos-carousel-controller-disabled-color: #B6B4B4;

/* Style for the icons inside cards */
$eos-carousel-featured-video-article-icon-size: 100px;
$eos-carousel-featured-video-article-icon-left: 20px;
$eos-carousel-featured-video-article-icon-opacity: 0.7;
$eos-carousel-featured-video-article-icon-top: 25%;
$eos-carousel-featured-video-image: url('/images/components/carousel/icon_videos.svg');
$eos-carousel-featured-article-image: url('/images/components/carousel/icon_text.svg');

/* Card footer */
$eos-carousel-card-footer-color: $eos-bc-white;
$eos-carousel-card-footer-width: 100%;
$eos-carousel-card-footer-opacity: 1;
