extends ../layouts/layout-main

block content
  .container
    section
      h1
        | What is a brand’s voice?
      p.subheadline
        | Our voice reflects who we are, our personality. It is
        | unique and should be consistent across our applications in order
        | for users to feel it's  #{config.brand} speaking.
    hr
    article
      h3.title-strong
        |  #{config.brand} voice guidelines
      .feature-container
        .feature-description
          h5.title-strong
            | We are experts, but not bossy or cocky
          ul
            li
              | We are a +25 years experienced company, sound like it.
            li
              | We know what we do, and we know how to do it best. However, we give
              | our users the respect they deserve by treating them as equals and convey to them that they are in control.
            li
              | We speak plain English, we don't use unnecessarily complicated words.
        figure
          img(src='/images/brand-voice/experts-not-bossy.svg')
      .feature-container
        figure
          img(src='/images/brand-voice/friendly-not-informal.svg')
        .feature-description
          h5.title-strong
            | We are friendly, but not informal or patronizing
          ul
            li
              | Our voice is human, it is friendly and warm, yet clear, concise, and professional.
            li
              | Don't cross the line making jokes. Be friendly not funny.
            li
              | Unsolicited help can sometimes seem patronizing or demeaning.
            li
              | Respect our users, their different cultures and beliefs. Avoid gender-specific words when possible.
      .feature-container
        .feature-description
          h5.title-strong
            | We are transparent, but not blunt
          ul
            li
              | Speak honestly to our customers, even when we've made a mistake. We are an opensource company and transparency is our foundation.
            li
              | Users may make mistakes, don't point fingers. Give options and data to help the user judge the best alternatives.
            li
              | Be direct, not insensitive.
        figure
          img(src='/images/brand-voice/transparent-not-blunt.svg')
      .feature-container
        figure
          img(src='/images/brand-voice/adaptive-not-reckless.svg')
        .feature-description
          h5.title-strong
            | We are adaptive, but not reckless
          ul
            li
              | We adapt you succeed. Adapting to our customers needs is what makes us  #{config.brand}.
            li
              | Speak with openness to adapt. Offer options to let the user make the final decision.
            li
              | Be flexible when offering support but not hasty or brash. Remember there are more than 1 (or ten) customers to concider when offering changes.
    hr
    article
      h5.title-strong
        | Examples of voice
      .do-dont-container
        .do-column
          .do-dont-title
            h6
              i.eos-icons.md-18
                | check_circle
              | Do
          .do-dont-content
            p
              | "Wait until the queue is empty before making changes."
        .dont-column
          .do-dont-title
            h6
              i.eos-icons.md-18
                | cancel
              | Don't
          .do-dont-content
            p
              | "Do not make any changes until the queue is empty."
        .text-center
          p
            | Use positive language rather than negative language. One way to detect negative language is to look for words like “can’t,” “don’t,” etc.
      hr.hr-dotted.do-dont-separator
      .do-dont-container
        .do-column
          .do-dont-title
            h6
              i.eos-icons.md-18
                | check_circle
              | Do
          .do-dont-content
            p
              | "The system has experienced an error."
        .dont-column
          .do-dont-title
            h6
              i.eos-icons.md-18
                | cancel
              | Don't
          .do-dont-content
            p
              | "An error has occurred in the system."
        .text-center
          p
            | Use #[strong active voice]. Do not use passive voice. In #[active voice],
            | the subject of the sentence does the action. In #[passive voice],
            | the subject of the sentence has the action done to it.
      hr.hr-dotted.do-dont-separator
      .do-dont-container
        .do-column
          .do-dont-title
            h6
              i.eos-icons.md-18
                | check_circle
              | Do
          .do-dont-content
            p
              | "Some subscriptions are about to expire. #[a View subscriptions]."
        .dont-column
          .do-dont-title
            h6
              i.eos-icons.md-18
                | cancel
              | Don't
          .do-dont-content
            p
              | "You should revisit your subscriptions before they expire."
        .text-center
          p
            | Don't tell the user what to do, rather let him/her be aware of what is going on and offer options.
      hr.hr-dotted.do-dont-separator
      .do-dont-container
        .do-column
          .do-dont-title
            h6
              i.eos-icons.md-18
                | check_circle
              | Do
          .do-dont-content
            p
              | "All patches applied successfully. Excellent job!"
        .dont-column
          .do-dont-title
            h6
              i.eos-icons.md-18
                | cancel
              | Don't
          .do-dont-content
            p
              | "Yay! You have applied all patches for today, time for a beer!."
        .text-center
          p
            | Encourage the user in a friendly way, don't try to be funny or use encouraging phrases that go beyond a professional relationship. The user knows when it's the right time to hit the power button and go for a break.
      hr.hr-dotted.do-dont-separator
      .do-dont-container
        .do-column
          .do-dont-title
            h6
              i.eos-icons.md-18
                | check_circle
              | Do
          .do-dont-content
            p
              | "Our servers are experiencing a technical problem. We are working on it. For urgent matters reach us at: +0000000"
        .dont-column
          .do-dont-title
            h6
              i.eos-icons.md-18
                | cancel
              | Don't
          .do-dont-content
            p
              | "It seems something went wrong. We will be back online shortly."
        .text-center
          p
            | Be transparent when there is a problem, we most likely know what the problem is, and it shows professionalism. Don't give false expectations of when a problem will be fixed if there isn't any real data. Give alternatives when possible.
      hr.hr-dotted.do-dont-separator
      .do-dont-container
        .do-column
          .do-dont-title
            h6
              i.eos-icons.md-18
                | check_circle
              | Do
          .do-dont-content
            p
              | "A configuration file is missing and the system cannot boot.
              | #[a View changelog] for more information."
        .dont-column
          .do-dont-title
            h6
              i.eos-icons.md-18
                | cancel
              | Don't
          .do-dont-content
            p
              | "You removed a configuration file that was required for the system to boot."
        .text-center
          p
            | Don't point fingers. Be informative.
      hr.hr-dotted.do-dont-separator
      .do-dont-container
        .do-column
          .do-dont-title
            h6
              i.eos-icons.md-18
                | check_circle
              | Do
          .do-dont-content
            p
              | "We want to learn more from you and how you use our products. Send an email to xx@suse.com to share your experience with us."
        .dont-column
          .do-dont-title
            h6
              i.eos-icons.md-18
                | cancel
              | Don't
          .do-dont-content
            p
              | "We want to know how we can improve. You can send your comments and ideas to xx@suse.com, we're happy to hear from you."
        .text-center
          p
            |  Encouraging the user to send feedback is good but don't give them any false  expectations that all of their suggestions will be acted upon directly. We adapt to fit a community of users/customers, not to just 1 comment/idea.
      hr.hr-dotted.do-dont-separator
      .do-dont-container
        .do-column
          .do-dont-title
            h6
              i.eos-icons.md-18
                | check_circle
              | Do
          .do-dont-content
            p
              | "Please #[a register here] in order to receive updates from us."
        .dont-column
          .do-dont-title
            h6
              i.eos-icons.md-18
                | cancel
              | Don't
          .do-dont-content
            p
              | "Please wait until the system restarts to save the changes."
        .text-center
          p
            |  Use #[em please] only if the user needs to perform an action for us.

    include ../includes/steps-progress-bar/eos-writing-guides.pug
