/* Badges
   ========================================================================== */
/**
*  Use it in HTML as
*  <div class='btn'>
*    <div class='badge'>HAWK</div>
*  </div>
*
*  Component included in buttons. It displays a badge containing data
*
* Variables file: assets/stylesheets/eos-custom-components/badge/badge.variables.scss
*/
.badge {
  font-size: $eos-badge-font-size;
  margin-left: $eos-badge-margin-left;

  &.badge-dark {
    background-color: $eos-badge-dark-background;
  }

  span {
    background: $eos-badge-span-background;
    color: $eos-badge-color;
  }

  &:hover {
    cursor: pointer;
  }
}
