extends ../layouts/layout-main
block content
  .container
    section
      h1
        | Stratos Icons
      p
        | The following is the list of items, functions, names, etc. that require an special icon to be designed:
      .panel.panel-default
        .panel-body
          .row
            .col-sm-6
            .col-sm-6
              h6
                | Search:
              .input-group
                input.js-icons-search.form-control(type='text', placeholder='Type to search')
                .input-group-addon
                  .eos-icons.md-18.js-icons-search-close.clickable
                    | close
    section
      .js-label-list
        .js-icons-search-empty.d-none
          .alert.alert-section.alert-info
            i.eos-icons.md-18.alert-icon
              | info
            .alert-body
              .alert-title
                | No results found
              | No icon found with the entered search criteria
        .row.js-icons-headers.hidden
          .col-sm-2
            h4
              | Icon
          .col-sm-2
            h4
              | Product/s
          .col-sm-2
            h4
              | Placement
          .col-sm-2
            h4
              | Hierarchy
          .col-sm-4
            h4
              | Purpose/Action/Usage
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | apps
              hr
              h6
                | Material Design ligature:
              | apps
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Applications
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | store
              hr
              h6
                | Material Design ligature:
              | store
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Service Marketplace (catalog).
          hr.hr-dotted

        article
          .row
            .col-sm-2
              img.eos-icons.md-48(src='/images/special-icons/stratos/service.svg')
              h6
                | File name:
              | service.svg
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Service Instances
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | library_books
              hr
              h6
                | Material Design ligature:
              | library_books
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Service Instances - Indicates an instance of a service
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | products
              hr
              h6
                | EOS ligature:
              | products
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Service Plan - A Service can offers one or more plans
          hr.hr-dotted

        article
          .row
            .col-sm-2
              img.eos-icons.md-48(src='/images/special-icons/stratos/cloud_foundry.svg')
              h6
                | File name:
              | cloud_foundry.svg
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Cloud Foundry
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | settings_ethernet
              hr
              h6
                | Material Design ligature:
              | settings_ethernet
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Endpoint/Endpoints - a service such as Cloud Foundry, GitHub, Metrics that can be connected to Stratos
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | refresh
              hr
              h6
                | Material Design ligature:
              | refresh
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Refresh - used in tables to allow the user to refresh data shown
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | cloud_off
              hr
              h6
                | Material Design ligature:
              | cloud_off
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Disconnected endpoint - used in the endpoints table to show that an endpoint is not connected
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | cloud_on
              hr
              h6
                | Material Design ligature:
              | cloud_on
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Connected endpoint - used in the endpoints table to show that an endpoint is connected
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | more_vert
              hr
              h6
                | Material Design ligature:
              | more_vert
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Action Menu - used in tables and application header to access drop-down menu for actions
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | add
              hr
              h6
                | Material Design ligature:
              | add
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Add - used in app page header and table headers for add action - e.g. create a new application, service, route etc
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | delete
              hr
              h6
                | Material Design ligature:
              | delete
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | SHOULD BE REPLACED BY
              .eos-icons.md-48
                | edit
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Delete - used in app page header and table headers for edit action - e.g. edit application, service, route etc
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | file_upload
              hr
              h6
                | Material Design ligature:
              | file_upload
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Deploy Application - deploy an application from file/folder or git/github
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | sort
              hr
              h6
                | Material Design ligature:
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Change sort direction between ascending and descending and vice-versa
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | list
              hr
              h6
                | Material Design ligature:
              | list
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Show data in list view
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | grid_on
              hr
              h6
                | Material Design ligature:
              | grid_on
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Show data in list view
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | keyboard
              hr
              h6
                | Material Design ligature:
              | keyboard
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Button icon to show CLI Commands for an application or Cloud Foundry
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | memory
              hr
              h6
                | Material Design ligature:
              | memory
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Memory quota for an application
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | storage
              hr
              h6
                | Material Design ligature:
              | storage
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Disk quota for an application
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | content_copy
              hr
              h6
                | Material Design ligature:
              | content_copy
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Application Instances - an application can have many instances in order to scale it
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | date_range
              hr
              h6
                | Material Design ligature:
              | date_range
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Creation date for an application
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | access_time
              hr
              h6
                | Material Design ligature:
              | access_time
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Modified date for an application
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | touch_app
              hr
              h6
                | Material Design ligature:
              | touch_app
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Application state (stopped, started etc)
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | card_travel
              hr
              h6
                | Material Design ligature:
              | card_travel
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Application package state (staged etc) - indicates if an application package has been deployed
          hr.hr-dotted

        article
          .row
            .col-sm-2
              img.eos-icons.md-48(src='/images/special-icons/stratos/network_route.svg')
              h6
                | File name:
              | network_route.svg
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Application routes
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | domain
              hr
              h6
                | Material Design ligature:
              | domain
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Domain
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | developer_mode
              hr
              h6
                | Material Design ligature:
              | developer_mode
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Indicates if SSHing into an application is permitted
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | organization
              hr
              h6
                | EOS ligature:
              | organization
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Cloud Foundry Organization
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | language
              hr
              h6
                | Material Design ligature:
              | language
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Cloud Foundry Space
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | build
              hr
              h6
                | Material Design ligature:
              | build
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Cloud Foundry Buildpack
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | code
              hr
              h6
                | Material Design ligature:
              | code
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | SHOULD BE REPLACED BY
              br
              .eos-icons.md-48
                | file_system
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Cloud Foundry Stack (prebuilt root file system)
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | code
              hr
              h6
                | Material Design ligature:
              | code
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | SHOULD BE REPLACED BY
              br
              .eos-icons.md-48
                | repositories
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Git URL - Used to indicate a URL to a public git repository
          hr.hr-dotted

        article
          .row
            .col-sm-2
              img.eos-icons.md-48(src='/images/special-icons/stratos/github.svg')
              h6
                | File name:
              | github.svg
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | GitHub Repository - Used to indicate a GitHub repository
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | people
              hr
              h6
                | Material Design ligature:
              | people
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | GUsers - indicates a user count or action button to manage users
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | person
              hr
              h6
                | Material Design ligature:
              | person
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | User - indicates a user or user property - e.g. their username
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | link
              hr
              h6
                | Material Design ligature:
              | link
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Link - indicates the URL for a Cloud Foundry API
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | info_outline
              hr
              h6
                | Material Design ligature:
              | info_outline
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Info - used as the icon for a general info property - such as the Cloud Foundry API Version
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | lock_open
              hr
              h6
                | Material Design ligature:
              | lock_open
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Unlocked - indicates that a builpack is unlocked - i.e. changes can be made
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | lock
              hr
              h6
                | Material Design ligature:
              | lock
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Locked - indicates that a builpack is uocked - i.e. changes can not be made
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | check_circle
              hr
              h6
                | Material Design ligature:
              | check_circle
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Enabled - indicates an entity that is enabled - e.g. a feature flag, buildpack etc
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | highlight_off
              hr
              h6
                | Material Design ligature:
              | highlight_off
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | SHOULD BE REPLACED BY
              br
              .eos-icons.md-48
                | block
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Disabled - indicates an entity that is disabled - e.g. a feature flag, buildpack etc
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | lens
              hr
              h6
                | Material Design ligature:
              | lens
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | SHOULD BE REPLACED BY
              br
              .eos-icons.md-48
                | check_circle
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Application State - Indicates application state is ok
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | cancel
              hr
              h6
                | Material Design ligature:
              | cancel
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | SHOULD BE REPLACED BY
              br
              .eos-icons.md-48
                | error
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Application State - Indicates application state has an erorr
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | warning
              hr
              h6
                | Material Design ligature:
              | warning
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
              br
              .badge.badge-success
                | OK
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Application State - Indicates application state has a problem
          hr.hr-dotted

        article
          .row
            .col-sm-2
              .eos-icons.md-48
                | broken_image
              hr
              h6
                | Material Design ligature:
              | broken_image
            .col-sm-2
              .badge.badge-info.js-product-label
                | Stratos
            .col-sm-2
              p
                | -
            .col-sm-2
              p
                | -
            .col-sm-4
              p
                | Application State - Indicates application state is incomplete
          hr.hr-dotted
