a.card.card-horizontal.js-video-container.modal-link.js-launch-modal(href='#', data-toggle='modal', data-target='#video-dashboard', data-video-name='#')
  .card-content
    div
      h4
      p
  span.card-icon
    i.eos-icons.md-18
      | play_circle_filled
  footer
    span
      | Watch video
