extends ../layouts/layout-main

block content
  .container.js-logo-icons-set.js-logoIconsController
    section
      .row
        .col-md-9
          h1
            | Logo icon set
          p.subheadline
            | Our set of third-party logos follows the EOS design guidelines and integrates coherently in SUSE applications.
        .col-md-3
          button.btn.btn-primary.margin-top-m.btn-block(data-toggle='modal', data-target='#requestNewIcon')
            i.eos-icons.md-18
              | add_circle
            |  Request new icon
    hr
    section
      .row.logo-icon-set-utility
        .col-12.hide
          .icons-search-wrap
            input.js-eos-icon-filter(type='search', name='eos-icon-filter', placeholder='Type to search')
            i.eos-icons.md-18
              | search
      .row.eos-icons-notification.js-eos-icons-notification

      .js-logo-icons-list.icons-set-list
        .icon-display.js-logo-icon-display.js-panel-slidein-open
          img.md-48.js-logo-img
          .js-logo-name

      // Panel-slidein component to show more information after clicking .js-panel-slidein-open
      .panel-slidein.js-panel-slidein.panel-slidein-right
        .panel-slidein-body
          include ../includes/panel-slidein/logo-icons.pug
        .panel-slidein-close.eos-icons.md-18.js-panel-slidein-close
          | close

    section.logo-icons-set-section-margin
      h3.title-strong
        | Logo icon wrapper
      p
        | A wrapper can make some logos more noticeable when the original logo is hardly
        | visible in small size since logos are not created to work well as icons in 18px, for example.

      .row.margin-top-xl
        .col-md-12
          h5
            | Size
          p
            | When a wrapper is present, its size should be the icon size and the logo inside should
            | be one scale less. For example, a 36px logo icon with a wrapper is composed of a 36px
            | wrapper and a 24px icon inside.
        .col-md-12.text-center.margin-top-xxl
          figure
            img.img-fluid(src='/images/icons/logo-icons-examples.svg')
      .row.margin-top-xl
        .col-md-12
          h5
            | Type
          p
            | For some situations (such as social network links) we can use a square wrapper as well.
            | Square with 0px or 2px rounded borders only.
          ul.nav.nav-pills.nav-fill(role='tablist')
            li.nav-item(role='presentation')
              a.nav-link.active(href='#logo-icon-examples', aria-controls='logo-icon-examples', role='tab', data-toggle='tab')
                | Implementation examples
          .tab-content
            #logo-icon-examples.tab-pane.active(role='tabpanel')
              h6.title-strong
                | Implementation of logo icon dark wrapper
              .implementation-example
                .result
                  img.md-36.md-dark-wrapper.logo.logo-square(src='/images/icons/gitlab-white.svg')
                  img.md-36.md-dark-wrapper.logo.logo-round(src='/images/icons/gitlab-white.svg')
                .css-snippet-container
                  .scss-snippet-btns
                    i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                      | content_copy
                  pre.prettyprint.js-snippet-code
                    code
                      | &lt;img src='gitlab-white.svg' class='md-36 md-dark-wrapper logo logo-square'/&gt;
                      | &lt;img src='gitlab-white.svg' class='md-36 md-dark-wrapper logo logo-round'/&gt;
              h6.title-strong.margin-top-m
                | Implementation of logo icon light wrapper
              .implementation-example
                .result.dark-bg
                  img.md-36.md-light-wrapper.logo.logo-square(src='/images/icons/gitlab-dark.svg')
                  img.md-36.md-light-wrapper.logo.logo-round(src='/images/icons/gitlab-dark.svg')
                .css-snippet-container
                  .scss-snippet-btns
                    i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                      | content_copy
                  pre.prettyprint.js-snippet-code
                    code
                      | &lt;img src='gitlab-dark.svg' class='md-36 md-light-wrapper logo logo-square'/&gt;
                      | &lt;img src='gitlab-dark.svg' class='md-36 md-light-wrapper logo logo-round'/&gt;

  include ../includes/request-new-icon/request-new-icon-modal.pug
