extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Inline alerts
          p.subheadline
            | Inline alerts are used to notify a user of the status of an action within a component when the action is triggered in real time.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              | #[i.eos-icons.md-18 expand_more] Alerts assets
            ul.dropdown-menu.dropdown-menu-right
              include ./shared/assets.pug
    hr
    article
      section.margin-top-xxl.section-alerts-demo
        h3
          | Description
        ul.list-no-padding
          li
            | They are often triggered in response to an action by the user.
          li
            | Inline alerts are positioned within the area or form they relate to.
          li
            | Alerts of high importance (warning or danger) should not close automatically, until the situation has been resolved.
        .figure-wrap
          figure
            img(src='/images/alerts/inline-alert-position.png')
        h3.margin-top-xxl.title-strong
          | Different states and types

        h4.title-strong.margin-top-m
          | Success
        p
          | Success alerts should be used when an action was performed successfully.
        ul.nav.nav-pills.nav-fill(role='tablist')
          li.nav-item(role='presentation')
            a.nav-link.active(href='#alert-success-example', aria-controls='alert-success-example', role='tab', data-toggle='tab')
              | Bootstrap 4 implementation examples
        .tab-content
          #alert-success-example.tab-pane.active(role='tabpanel')
            .implementation-example
              .result
                .alert.alert-inline.alert-success
                  i.eos-icons.md-18.alert-icon
                    | check_circle
                  .alert-body
                    | Settings saved.
                  a.close(data-dismiss='alert')
                    i.eos-icons.md-18
                      | close
              .css-snippet-container
                .scss-snippet-btns
                  i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                    | content_copy
                pre.prettyprint.js-snippet-code
                  code
                    | &lt;div class='alert alert-inline alert-success'&gt;
                    |   &lt;i class='eos-icons md-18 alert-icon'&gt;check_circle&lt;/i&gt;
                    |   &lt;div class='alert-body'&gt;Settings saved.&lt;/div&gt;
                    |   &lt;a class='close' data-dismiss='alert'&gt;
                    |     &lt;i class='eos-icons md-18'&gt;close&lt;/i&gt;
                    |   &lt;/a&gt;
                    | &lt;/div&gt;
        .margin-top-xxl
          h4.title-strong.margin-top-m
            | Info
          p
            | Info alerts should be used when there are tips or information that a user can benefit from.
          ul.nav.nav-pills.nav-fill(role='tablist')
            li.nav-item(role='presentation')
              a.nav-link.active(href='#alert-info-example', aria-controls='alert-info-example', role='tab', data-toggle='tab')
                | Bootstrap 4 implementation examples
          .tab-content
            #alert-info-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-inline.alert-info
                    i.eos-icons.md-18.alert-icon
                      | info
                    .alert-body
                      | #[a New comments] awaiting response.
                    a.close(data-dismiss='alert')
                      i.eos-icons.md-18
                        | close
                .css-snippet-container
                  .scss-snippet-btns
                    i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                      | content_copy
                  pre.prettyprint.js-snippet-code
                    code
                      | &lt;div class='alert alert-inline alert-info'&gt;
                      |   &lt;i class='eos-icons md-18 alert-icon'&gt;info&lt;/i&gt;
                      |   &lt;div class='alert-body'&gt;
                      |     &lt;a href='#'&gt;New comments&lt;/a&gt;
                      |     awaiting response.
                      |   &lt;/div&gt;
                      |   &lt;a class='close' data-dismiss='alert'&gt;
                      |     &lt;i class='eos-icons md-18'&gt;close&lt;/i&gt;
                      |   &lt;/a&gt;
                      | &lt;/div&gt;
        .margin-top-xxl
          h4.title-strong.margin-top-m
            | Warning
          p
            | Warning alerts should be used for messages that likely require attention.
          ul.nav.nav-pills.nav-fill(role='tablist')
            li.nav-item(role='presentation')
              a.nav-link.active(href='#alert-warning-example', aria-controls='alert-warning-example', role='tab', data-toggle='tab')
                | Bootstrap 4 implementation examples
          .tab-content
            #alert-warning-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-inline.alert-warning
                    i.eos-icons.md-18.alert-icon
                      | warning
                    .alert-body
                      | Subscription expiring soon.
                    a.close(data-dismiss='alert')
                      i.eos-icons.md-18
                        | close
                .css-snippet-container
                  .scss-snippet-btns
                    i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                      | content_copy
                  pre.prettyprint.js-snippet-code
                    code
                      | &lt;div class='alert alert-inline alert-warning'&gt;
                      |   &lt;i class='eos-icons md-18 alert-icon'&gt;warning&lt;/i&gt;
                      |   &lt;div class='alert-body'&gt;Subscription expiring soon.&lt;/div&gt;
                      |   &lt;a class='close' data-dismiss='alert'&gt;
                      |     &lt;i class='eos-icons md-18'&gt;close&lt;/i&gt;
                      |   &lt;/a&gt;
                      | &lt;/div&gt;
        .margin-top-xxl
          h4.title-strong.margin-top-m
            | Danger
          p
            | Danger alerts should be used when the system has failed to perform an action, or when the user has made an error.
          strong
            | * Never include a close icon or link to dismiss the action. In cases when alert should be dismissible use warning alert instead.

          ul.nav.nav-pills.nav-fill(role='tablist')
            li.nav-item(role='presentation')
              a.nav-link.active(href='#alert-danger-example', aria-controls='alert-danger-example', role='tab', data-toggle='tab')
                | Bootstrap 4 implementation examples
          .tab-content
            #alert-danger-example.tab-pane.active(role='tabpanel')
              .implementation-example
                .result
                  .alert.alert-inline.alert-danger
                    i.eos-icons.md-18.alert-icon
                      | error
                    .alert-body
                      | Subscription expired. #[a Renew] subscription.
                .css-snippet-container
                  .scss-snippet-btns
                    i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                      | content_copy
                  pre.prettyprint.js-snippet-code
                    code
                      | &lt;div class='alert alert-inline alert-danger'&gt;
                      |   &lt;i class='eos-icons md-18 alert-icon'&gt;error&lt;/i&gt;
                      |   &lt;div class='alert-body'&gt;
                      |     Subscription expired.&lt;a href='#'&gt;Renew&lt;/a&gt; subscription.
                      |   &lt;/div&gt;
                      | &lt;/div&gt;
