aside.main-menu.js-main-menu
  .mm-navigation-container
    header
      a.hide-collapsed(href='https://www.eosdesignsystem.com/')
        img(src='/images/eos-logo.png')
      .mm-navigation-close.js-sidebar-toggle
        i.eos-icons.js-sidebar-tooltip.js-tooltip(data-placement='bottom', title='')
          | menu
    include main-menu.pug

  include ../footer/footer-side-menu.pug
