extends ../layouts/layout-main

block content
  .container
    section
      .row
        .col-md-9
          h1
            | Colors
          p.subheadline
            | This color palette comprises the primary and accent colors to be used
            | in all  #{config.brand} applications. They’ve been designed to work harmoniously with each other.
        .col-md-3
          .dropdown.margin-top-m.float-right
            button.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown')
              i.eos-icons.md-18
                | expand_more
              |
              | Colors assets
            ul.dropdown-menu.dropdown-menu-right
              li
                a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos/blob/master/assets/stylesheets/eos-base/variables/branding.scss', data-event-category='Dropdown link', data-event-action='Colors stylesheets', data-event-label='Colors', target='_blank')
                  i.eos-icons.md-18
                    | open_in_new
                  | Colors stylesheet
              li
                a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/Resources/Colors%20Palette/Photoshop%20-Illustrator/eos-swatches.ase', data-event-category='Dropdown link', data-event-action='Adobe color palette', data-event-label='Colors', target='_blank')
                  i.eos-icons.md-18
                    | file_download
                  | Adobe color palettes
              li
                a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/Resources/Colors%20Palette/Inkscape%20-%20Gimp/eos-palette.gpl', data-event-category='Dropdown link', data-event-action='Inkscape color palette', data-event-label='Colors', target='_blank')
                  i.eos-icons.md-18
                    | file_download
                  | Inkscape color palettes
    hr
    article
      h3.title-strong
        | Color shading system
      p
        | Each color has its own shading between 100-900.
        | The 500 color is the main and default color to use in elements/assets.
        | The remaining shades (100, 200, etc.) must be used as accent colors.

    article.margin-top-xxl
      h3.title-strong
        | Primary colors
      p
        | These are our primary brand colors that should be used the majority
        | of the time in branded assets.
      .colors-wrap
        .color-wrap.bc-green
          .color-title
            h4
              | Green
            p
              code
                | $eos-bc-green-500
          .used-for
            p
              | Use for: primary color, CTA, and active status.
          .color-content
            .color.js-cc.color-500(data-clipboard-text='#00C081 // $eos-bc-green-500')
              | 500
              span.hex
                | #00C081
            .color-all
              .color-top
                .color.js-cc.color-100(data-clipboard-text='#E0F7F0 // $eos-bc-green-100')
                  span
                    | 100
                    span.hex
                      | #E0F7F0
                .color.js-cc.color-200(data-clipboard-text='#B3ECD9 // $eos-bc-green-200')
                  span
                    | 200
                    span.hex
                      | #B3ECD9
                .color.js-cc.color-300(data-clipboard-text='#4DD3A7 // $eos-bc-green-300')
                  span
                    | 300
                    span.hex
                      | #4DD3A7
                .color.js-cc.color-400(data-clipboard-text='#26C994 // $eos-bc-green-400')
                  span
                    | 400
                    span.hex
                      | #26C994
              .color-bottom
                .color.js-cc.color-600(data-clipboard-text='#00BA79 // $eos-bc-green-600')
                  span
                    | 600
                    span.hex
                      | #00BA79
                .color.js-cc.color-700(data-clipboard-text='#00B26E // $eos-bc-green-700')
                  span
                    | 700
                    span.hex
                      | #00B26E
                .color.js-cc.color-800(data-clipboard-text='#00AA64 // $eos-bc-green-800')
                  span
                    | 800
                    span.hex
                      | #00AA64
                .color.js-cc.color-900(data-clipboard-text='#009C51 // $eos-bc-green-900')
                  span
                    | 900
                    span.hex
                      | #009C51
        .color-wrap.bc-blue
          .color-title
            h4
              | Blue
            p
              code
                | $eos-bc-blue-500
          .used-for
            p
              | Use for: menu background.
          .color-content
            .color.js-cc.color-500(data-clipboard-text='#0D2C40 // $eos-bc-blue-500')
              | 500
              span
                | #0D2C40
            .color-all
              .color-top
                .color.js-cc.color-100(data-clipboard-text='#B6C0C6 // $eos-bc-blue-100')
                  span
                    | 100
                    span.hex
                      | #B6C0C6
                .color.js-cc.color-200(data-clipboard-text='#8696A0 // $eos-bc-blue-200')
                  span
                    | 200
                    span.hex
                      | #8696A0
                .color.js-cc.color-300(data-clipboard-text='#566B79 // $eos-bc-blue-300')
                  span
                    | 300
                    span.hex
                      | #566B79
                .color.js-cc.color-400(data-clipboard-text='#314C5D // $eos-bc-blue-400')
                  span
                    | 400
                    span.hex
                      | #314C5D
              .color-bottom
                .color.js-cc.color-600(data-clipboard-text='#0B273A // $eos-bc-blue-600')
                  span
                    | 600
                    span.hex
                      | #0B273A
                .color.js-cc.color-700(data-clipboard-text='#092132 // $eos-bc-blue-700')
                  span
                    | 700
                    span.hex
                      | #092132
                .color.js-cc.color-800(data-clipboard-text='#071B2A // $eos-bc-blue-800')
                  span
                    | 800
                    span.hex
                      | #071B2A
                .color.js-cc.color-900(data-clipboard-text='#03101C // $eos-bc-blue-900')
                  span
                    | 900
                    span.hex
                      | #03101C
      h3.title-strong.margin-top-xxl
        | Secondary colors
      p
        | The secondary colors are used to complement the primary colors.
        | They should be used in conjunction with the primary colors, but should
        | not overpower or distort the color perception of the brand — which is Green.
      .colors-wrap
        .color-wrap.bc-cerulean
          .color-title
            h4
              | Cerulean
            p
              code
                | $eos-bc-cerulean-900
          .used-for
            p
              | Use for: default link color and info status.
          .color-content
            .color.js-cc.color-500(data-clipboard-text='#00B2E2 // $eos-bc-cerulean-500')
              | 500
              span
                | #00B2E2
            .color-all
              .color-top
                .color.js-cc.color-100(data-clipboard-text='#B3E8F6 // $eos-bc-cerulean-100')
                  span
                    | 100
                    span.hex
                      | #B3E8F6
                .color.js-cc.color-200(data-clipboard-text='#80D9F1 // $eos-bc-cerulean-200')
                  span
                    | 200
                    span.hex
                      | #80D9F1
                .color.js-cc.color-300(data-clipboard-text='#4DC9EB // $eos-bc-cerulean-300')
                  span
                    | 300
                    span.hex
                      | #4DC9EB
                .color.js-cc.color-400(data-clipboard-text='#26BEE6 // $eos-bc-cerulean-400')
                  span
                    | 400
                    span.hex
                      | #26BEE6
              .color-bottom
                .color.js-cc.color-600(data-clipboard-text='#00ABDF // $eos-bc-cerulean-600')
                  span
                    | 600
                    span.hex
                      | #00ABDF
                .color.js-cc.color-700(data-clipboard-text='#00A2DA // $eos-bc-cerulean-700')
                  span
                    | 700
                    span.hex
                      | #00A2DA
                .color.js-cc.color-800(data-clipboard-text='#0099D6 // $eos-bc-cerulean-800')
                  span
                    | 800
                    span.hex
                      | #0099D6
                .color.js-cc.color-900(data-clipboard-text='#008ACF // $eos-bc-cerulean-900')
                  span
                    | 900
                    span.hex
                      | #008ACF
        .color-wrap.bc-yellow
          .color-title
            h4
              | Yellow
            p
              code
                | $eos-bc-yellow-500
          .used-for
            p
              | Use for: warning indication.
          .color-content
            .color.js-cc.color-500(data-clipboard-text='#FFC107 // $eos-bc-yellow-500')
              | 500
              span
                | #FFC107
            .color-all
              .color-top
                .color.js-cc.color-100(data-clipboard-text='#FFECB5 // $eos-bc-yellow-100')
                  span
                    |  100
                    span.hex
                      | #FFECB5
                .color.js-cc.color-200(data-clipboard-text='#FFE083 // $eos-bc-yellow-200')
                  span
                    | 200
                    span.hex
                      | #FFE083
                .color.js-cc.color-300(data-clipboard-text='#FFD451 // $eos-bc-yellow-300')
                  span
                    | 300
                    span.hex
                      | #FFD451
                .color.js-cc.color-400(data-clipboard-text='#FFCA2C // $eos-bc-yellow-400')
                  span
                    | 400
                    span.hex
                      | #FFCA2C
              .color-bottom
                .color.js-cc.color-600(data-clipboard-text='#FFBB06 // $eos-bc-yellow-600')
                  span
                    | 600
                    span.hex
                      | #FFBB06
                .color.js-cc.color-700(data-clipboard-text='#FFB305 // $eos-bc-yellow-700')
                  span
                    | 700
                    span.hex
                      | #FFB305
                .color.js-cc.color-800(data-clipboard-text='#FFAB04 // $eos-bc-yellow-800')
                  span
                    | 800
                    span.hex
                      | #FFAB04
                .color.js-cc.color-900(data-clipboard-text='#FF9E02 // $eos-bc-yellow-900')
                  span
                    | 900
                    span.hex
                      | #FF9E02
        .color-wrap.bc-red
          .color-title
            h4
              | Red
            p
              code
                | $eos-bc-red-500
          .used-for
            p
              | Use for: error or danger indication.
          .color-content
            .color.js-cc.color-500(data-clipboard-text='#DC3545 // $eos-bc-red-500')
              | 500
              span
                | #DC3545
            .color-all
              .color-top
                .color.js-cc.color-100(data-clipboard-text='#F5C2C7 // $eos-bc-red-100')
                  span
                    |  100
                    span.hex
                      | #F5C2C7
                .color.js-cc.color-200(data-clipboard-text='#EE9AA2 // $eos-bc-red-200')
                  span
                    |  200
                    span.hex
                      | #EE9AA2
                .color.js-cc.color-300(data-clipboard-text='#E7727D // $eos-bc-red-300')
                  span
                    | 300
                    span.hex
                      | #E7727D
                .color.js-cc.color-400(data-clipboard-text='#E15361 // $eos-bc-red-400')
                  span
                    |  400
                    span.hex
                      | #E15361
              .color-bottom
                .color.js-cc.color-600(data-clipboard-text='#D8303E // $eos-bc-red-600')
                  span
                    |  600
                    span.hex
                      | #D8303E
                .color.js-cc.color-700(data-clipboard-text='#D32836 // $eos-bc-red-700')
                  span
                    |  700
                    span.hex
                      | #D32836
                .color.js-cc.color-800(data-clipboard-text='#CE222E // $eos-bc-red-800')
                  span
                    | 800
                    span.hex
                      | #CE222E
                .color.js-cc.color-900(data-clipboard-text='#C5161F // $eos-bc-red-900')
                  span
                    | 900
                    span.hex
                      | #C5161F
        .color-wrap.bc-gray
          .color-title
            h4
              | Gray
            p
              code
                | $eos-bc-gray-1000
          .used-for
            p
              | Use for: default color for text
          .color-content.gray-color-content
            .color.js-cc.color-500(data-clipboard-text='#969494 // $eos-bc-gray-500')
              | 500
              span
                | #969494
            .color-all
              .color-top
                .color.js-cc.color-50(data-clipboard-text='#EDEFF0 // $eos-bc-gray-50')
                  span
                    | 50
                    span.hex
                      | #EDEFF0
                .color.js-cc.color-100(data-clipboard-text='#E0DFDF // $eos-bc-gray-100')
                  span
                    | 100
                    span.hex
                      | #E0DFDF
                .color.js-cc.color-200(data-clipboard-text='#CBCACA // $eos-bc-gray-200')
                  span
                    | 200
                    span.hex
                      | #CBCACA
                .color.js-cc.color-300(data-clipboard-text='#B6B4B4 // $eos-bc-gray-300')
                  span
                    | 300
                    span.hex
                      | #B6B4B4
                .color.js-cc.color-400(data-clipboard-text='#A6A4A4 // $eos-bc-gray-400')
                  span
                    | 400
                    span.hex
                      | #A6A4A4
              .color-bottom
                .color.js-cc.color-600(data-clipboard-text='#8E8C8C // $eos-bc-gray-600')
                  span
                    | 600
                    span.hex
                      | #8E8C8C
                .color.js-cc.color-700(data-clipboard-text='#838181 // $eos-bc-gray-700')
                  span
                    | 700
                    span.hex
                      | #838181
                .color.js-cc.color-800(data-clipboard-text='#797777 // $eos-bc-gray-800')
                  span
                    | 800
                    span.hex
                      | #797777
                .color.js-cc.color-900(data-clipboard-text='#686565 // $eos-bc-gray-900')
                  span
                    | 900
                    span.hex
                      | #686565
                .color.js-cc.color-1000(data-clipboard-text='#141823 // $eos-bc-gray-1000')
                  span
                    | 1000
                    span.hex
                      | #141823
        .color-wrap.bc-orange
          .color-title
            h4
              | Orange
            p
              code
                | $eos-bc-orange-500
          .used-for
            p
              | Use for: decoration and graphics.
          .color-content
            .color.js-cc.color-500(data-clipboard-text='#F75C03 // $eos-bc-orange-500')
              | 500
              span
                | #F75C03
            .color-all
              .color-top
                .color.js-cc.color-100(data-clipboard-text='#FDCEB3 // $eos-bc-orange-100')
                  span
                    |  100
                    span.hex
                      | #FDCEB3
                .color.js-cc.color-200(data-clipboard-text='#FBAE81 // $eos-bc-orange-200')
                  span
                    | 200
                    span.hex
                      | #FBAE81
                .color.js-cc.color-300(data-clipboard-text='#F98D4F // $eos-bc-orange-300')
                  span
                    | 300
                    span.hex
                      | #F98D4F
                .color.js-cc.color-400(data-clipboard-text='#F87429 // $eos-bc-orange-400')
                  span
                    | 400
                    span.hex
                      | #F87429
              .color-bottom
                .color.js-cc.color-600(data-clipboard-text='#F65403 // $eos-bc-orange-600')
                  span
                    | 600
                    span.hex
                      | #F65403
                .color.js-cc.color-700(data-clipboard-text='#F54A02 // $eos-bc-orange-700')
                  span
                    | 700
                    span.hex
                      | #F54A02
                .color.js-cc.color-800(data-clipboard-text='#F34102 // $eos-bc-orange-800')
                  span
                    | 800
                    span.hex
                      | #F34102
                .color.js-cc.color-900(data-clipboard-text='#F13001 // $eos-bc-orange-900')
                  span
                    | 900
                    span.hex
                      | #F13001
        .color-wrap.bc-violet
          .color-title
            h4
              | Violet
            p
              code
                | $eos-bc-violet-500
          .used-for
            p
              | Use for: decoration and graphics.
          .color-content
            .color.js-cc.color-500(data-clipboard-text='#841781 // $eos-bc-violet-500')
              | 500
              span
                | #841781
            .color-all
              .color-top
                .color.js-cc.color-100(data-clipboard-text='#DAB9D9 // $eos-bc-violet-100')
                  span
                    |  100
                    span.hex
                      | #DAB9D9
                .color.js-cc.color-200(data-clipboard-text='#C28BC0 // $eos-bc-violet-200')
                  span
                    |  200
                    span.hex
                      | #C28BC0
                .color.js-cc.color-300(data-clipboard-text='#A95DA7 // $eos-bc-violet-300')
                  span
                    |  300
                    span.hex
                      | #A95DA7
                .color.js-cc.color-400(data-clipboard-text='#963A94 // $eos-bc-violet-400')
                  span
                    |  400
                    span.hex
                      | #963A94
              .color-bottom
                .color.js-cc.color-600(data-clipboard-text='#7C1479 // $eos-bc-violet-600')
                  span
                    |  600
                    span.hex
                      | #7C1479
                .color.js-cc.color-700(data-clipboard-text='#71116E // $eos-bc-violet-700')
                  span
                    |  700
                    span.hex
                      | #71116E
                .color.js-cc.color-800(data-clipboard-text='#670D64 // $eos-bc-violet-800')
                  span
                    |  800
                    span.hex
                      | #670D64
                .color.js-cc.color-900(data-clipboard-text='#540751 // $eos-bc-violet-900')
                  span
                    |  900
                    span.hex
                      | #540751

    article.margin-top-xxl
      h3.title-strong
        | Implementation and SASS example
      h5.title-strong
        | Example of usage:
      p
        | Let's say we are creating a new primary button that requires darker borders.
        | We should use the 500 shade of the "Green" color for the background, and
        | the shade 700 of the same color for the borders:
      .css-snippet-container
        pre.prettyprint.js-snippet-code
          code
            | .my-class{
            |   background: $eos-bc-green-500;
            |   border: 1px solid $eos-bc-green-700;
            | }

  article.articles-gallery
    .container
      h3.title-no-margings
        | Download color palettes
      .row
        .col-md-6.margin-bottom-m
          a.card.card-horizontal(href='https://adobe.ly/2NURvXM', target='_blank')
            .card-content
              div
                h4
                  | Color palettes for Adobe
                p
                  | Download #[strong .gpl] file for Adobe Photoshop and Illustrator
              div
                img.img-fluid.small-image(src='./images/colors/adobe.svg', alt='Adobe logo')
            span.card-icon
              i.eos-icons.md-18
                | file_download
            footer
              p
                | Download
        .col-md-6.margin-bottom-m
          a.card.card-horizontal(href='https://adobe.ly/2ZOEaYf', target='_blank')
            .card-content
              div
                h4
                  | Color palettes for Inkscape
                p
                  | Download #[strong .gpl] file for Inkscape (also works with GIMP)
              div
                img.img-fluid.small-image(src='./images/colors/Inkscape.logo.svg', alt='Inkscape logo')
            span.card-icon
              i.eos-icons.md-18
                | file_download
            footer
              p
                | Download
